@font-face {
    font-family: "Trocchou";
    src: url(./Trocchou.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trocchou';
    font-weight: normal;
    font-style: normal;
}


#root {
    display: grid;
    grid-template-columns: 33% 33% 33%/ 1fr;
    width: 100%;
}


#landing {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template: 100%/ 60% 40%;
    color: antiquewhite;
}

.right {
    display: grid;
    grid-template: 50% 50%/1fr;
}

.right>h1 {
    justify-self: center;
    align-self: center;
    padding: 3rem;
    font-size: 10rem;
    background: linear-gradient(to right, #FFF 20%, #fce1be 40%, #fce1be 60%, #FFF 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 7s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}



.left {
    background-image: url(./marcus-aurelius.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left::before {
    content: "";
    position: absolute;
    right: 0;
    background: linear-gradient(to left, #000000, transparent);
    width: 70%;
    height: 100%;
    z-index: 3;
}

.quote{
    justify-self:center ;
    color: antiquewhite;
    display: grid;
    align-items: center;
    text-align: center;
    width: 84%;
    font-size: 1.3rem;
    line-height: 40px;
}



#main {
    height: 100vh;
    width: 100%;
}